<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CreateAccount</servlet-name>
        <servlet-class>servlet.CreateAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAccount</servlet-name>
        <servlet-class>servlet.LoginAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatePiu</servlet-name>
        <servlet-class>servlet.CreatePiu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateComment</servlet-name>
        <servlet-class>servlet.CreateComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateLike</servlet-name>
        <servlet-class>servlet.CreateLike</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateAccount</servlet-name>
        <url-pattern>/CreateAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAccount</servlet-name>
        <url-pattern>/LoginAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePiu</servlet-name>
        <url-pattern>/CreatePiu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateComment</servlet-name>
        <url-pattern>/CreateComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateLike</servlet-name>
        <url-pattern>/CreateLike</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
